.detailes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2641;
    margin: 0 40px;
    padding: 5px;
    border-radius: 10px;
}
.detailes img{
    width: 70px;
    height: 50px;
    margin-left: -50px;
}
.detailes p{
    font-size: 16px;
    text-transform: capitalize;
    margin: 0;
    display: flex;
}